@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #4155d7 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #41a85f !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #4155d7;
  border-color: #4155d7;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2335a8;
  border-color: #2335a8;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2335a8 !important;
  border-color: #2335a8 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #1f2e93;
  color: #1f2e93;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #4155d7;
  border-color: #4155d7;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4155d7 !important;
  border-color: #4155d7 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #4155d7 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #41a85f !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #41a85f;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #4155d7;
}
.btn-social:hover {
  background: #4155d7;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #4155d7;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #4155d7;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4155d7;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4155d7;
}
.lead a,
.lead a:hover {
  color: #4155d7;
}
.lead blockquote {
  border-color: #4155d7;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #eaecfa;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #4155d7;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'Raleway', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #4155d7;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Raleway', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #4155d7;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #4155d7;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #4155d7;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #4155d7;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #4155d7;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #4155d7;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #4155d7;
}
.extAccordion1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #4155d7;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #4155d7;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #4155d7;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #4155d7;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #4155d7 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #4155d7;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #4155d7;
}
.theme-border {
  border: 1px solid #4155d7;
}
#wowslider-21 .mbr-wowslider.boxed {
  max-width: initial !important;
  max-height: initial !important;
  margin: 0 auto;
}
@media (max-width: 767px) {
  #wowslider-21 section[id^="ext_menu"] {
    margin-bottom: 7rem;
  }
}
#wowslider-21 section.mbr-wowslider-container.mbr-after-navbar {
  padding-top: 6.5rem!important;
}
#header3-8 .mbr-section-title,
#header3-8 .mbr-section-subtitle {
  text-align: center;
}
#header3-8 .mbr-section-title {
  font-size: 30px;
}
#header3-8 .mbr-section-title SPAN {
  font-size: 25px;
}
#header3-8 h3 {
  margin-bottom: 1rem;
}
#header3-8 h3 > span {
  padding: 0.5rem 1rem;
  border: 1px solid #4155d7;
  color: #4155d7;
  border-radius: 1.6em;
  font-size: 1rem !important;
}
#custom-html-16 {
  /* Extra small */
  /* Small */
  /* Medium */
  /* Extra large */
}
#custom-html-16 .redes-sociais {
  padding: 1rem 0;
}
#custom-html-16 .insta-logo,
#custom-html-16 .fb-logo {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#custom-html-16 .insta-logo > img,
#custom-html-16 .fb-logo > img {
  display: inline-block;
  max-height: 2.5rem;
}
#custom-html-16 .insta-profile {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.9rem;
  color: #262626;
}
#custom-html-16 .insta-profile .profile .profile-img {
  border-radius: 50%!important;
  max-width: 100%;
  display: inline-block;
}
#custom-html-16 .insta-profile .account .username {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 1rem;
}
#custom-html-16 .insta-profile .account .btn-follow {
  display: inline-block;
  font: inherit;
  background: none;
  color: inherit;
  cursor: pointer;
  font-size: 0.9rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 1rem;
  font-weight: 600;
}
#custom-html-16 .insta-profile .stats ul {
  margin: 1rem 0;
  padding: 0;
}
#custom-html-16 .insta-profile .stats ul li {
  display: inline-block;
  margin-right: 1rem;
}
#custom-html-16 .insta-profile .stats ul li:last-child {
  margin-right: 0;
}
#custom-html-16 .insta-profile .bio {
  text-align: left;
}
#custom-html-16 .insta-profile .bio > p {
  margin: 0.2rem;
}
@media (max-width: 575px) {
  #custom-html-16 .profile {
    width: 33.33333%;
    float: left;
  }
  #custom-html-16 .account {
    width: 66.66666%;
    float: right;
    padding: 0 1rem;
  }
  #custom-html-16 .stats {
    clear: both;
    padding-top: 1rem;
  }
  #custom-html-16 .stats ul {
    border-top: 0.1rem solid #dbdbdb;
    border-bottom: 0.1rem solid #dbdbdb;
    margin: 0 !important;
    padding: .5rem 0 !important;
    text-align: center;
  }
  #custom-html-16 .bio {
    margin-top: 1rem;
  }
}
@media (min-width: 576px) {
  #custom-html-16 .profile {
    width: 33.33333%;
    float: left;
  }
  #custom-html-16 .account,
  #custom-html-16 .stats {
    width: 66.66666%;
    float: right;
    padding-left: 1rem;
  }
  #custom-html-16 .bio {
    clear: both;
  }
}
@media (min-width: 1200px) {
  #custom-html-16 .insta-profile {
    padding-right: 2rem;
  }
  #custom-html-16 .fb-profile {
    padding-left: 2rem;
    text-align: center;
  }
  #custom-html-16 .account,
  #custom-html-16 .stats,
  #custom-html-16 .bio {
    width: 66.66666%;
    float: right;
    padding-left: 1rem;
    clear: inherit !important;
  }
  #custom-html-16 .account:after,
  #custom-html-16 .stats:after,
  #custom-html-16 .bio:after {
    display: block;
    content: "";
    clear: both;
  }
  #custom-html-16 .profile {
    width: 33.33333%;
    float: left;
  }
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #000000;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #000000;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #000000;
}
#ext_menu-0 .link {
  font-size: 0.9rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #4155d7!important;
}
#ext_menu-0 nav.navbar:not(.navbar-short) {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
#ext_menu-0 nav.navbar .navbar-brand img {
  height: 4rem;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) {
  border: 1px solid #4155d7;
  border-radius: 2rem;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) li.nav-item:first-child {
  padding-left: 0.5rem;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) li.nav-item:last-child {
  padding-right: 0.5rem;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) li.nav-item:not(:last-child):after {
  display: inline-block;
  content: "\200B";
  border-right: 0.1rem solid #4155d7;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) li.nav-item .nav-link.link {
  color: #4155d7 !important;
  padding: 0;
  margin: 0.5rem;
  display: inline-block;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) li.nav-item .link {
  position: relative;
  font-size: .84rem;
  margin: 1.4em;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) li.nav-item .link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4155d7;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) li.nav-item .link:hover {
  color: #4155d7;
}
#ext_menu-0 nav.navbar ul.nav-dropdown:not(.nav-dropdown-sm) li.nav-item .link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#ext_menu-0 .soc-div {
  text-align: right;
}
#ext_menu-0 .soc-div ul {
  margin: 0 0 0.3rem 0;
  padding: 0;
}
#ext_menu-0 .soc-div ul li {
  display: inline-block;
}
#ext_menu-0 .soc-div ul li:not(:last-child) {
  margin-right: 1rem;
}
#ext_menu-0 .soc-div ul li a {
  color: #4155d7;
  text-decoration: none;
}
#ext_menu-0 .soc-div ul li a:hover {
  color: #283cbd;
}
#msg-box3-4 .mbr-section-title,
#msg-box3-4 p {
  color: #000;
}
#msg-box3-4 .mbr-section-title {
  font-size: 30px;
}
#msg-box3-4 .lead P {
  text-align: left;
}
#extForm4-3 P {
  color: #000000;
  font-size: 17px;
}
#extForm4-3 H2 {
  color: #000000;
  font-size: 30px;
}
#form2-2t .mbr-section-title {
  color: #fff;
}
#form2-2t .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box8-2r .mbr-section-title,
#msg-box8-2r p {
  color: #fff;
}
#msg-box8-2r .mbr-section-title {
  text-align: left;
}
#msg-box8-2r .lead P {
  text-align: left;
}
#form2-2p section.newsletter {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -80px;
  box-shadow: 0 0 20px rgba(62, 70, 79, 0.22);
  z-index: 1;
}
#form2-2p .mbr-section-title {
  color: #000;
}
#form2-2p .mbr-section-subtitle {
  color: #a0a0a0;
}
@media (min-width: 400px) {
  #form2-2p .form-control {
    width: 50%;
    top: 0.55rem;
    min-height: 2.7rem;
  }
  #form2-2p .form-control:nth-child(2) {
    border-left: 1px solid rgba(160, 160, 160, 0.55);
  }
}
@media (max-width: 400px) {
  #form2-2p input {
    display: block;
    width: 100% !important;
    border: none;
    border-radius: 0px;
  }
  #form2-2p input:first-child {
    border-bottom: 1px solid rgba(160, 160, 160, 0.5);
    border-left: none;
  }
}
#ext_menu-2l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2l .navbar-caption {
  color: #ffffff;
}
#ext_menu-2l .navbar-toggler {
  color: #000000;
}
#ext_menu-2l .close-icon::before,
#ext_menu-2l .close-icon::after {
  background-color: #000000;
}
#ext_menu-2l .link,
#ext_menu-2l .dropdown-item {
  color: #000000;
}
#ext_menu-2l .link {
  font-size: 0.9rem;
}
#ext_menu-2l .dropdown-item,
#ext_menu-2l .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2l .link:hover,
#ext_menu-2l .dropdown-item:hover,
#ext_menu-2l .link:focus,
#ext_menu-2l .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-2l .link[aria-expanded="true"],
#ext_menu-2l .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-2l .nav-dropdown-sm .link:focus,
#ext_menu-2l .nav-dropdown-sm .link:hover,
#ext_menu-2l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2l .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-2l .navbar,
#ext_menu-2l .nav-dropdown-sm,
#ext_menu-2l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2l .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-2l .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2l .bg-color.transparent.opened .link:hover,
#ext_menu-2l .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-2l .link[aria-expanded="true"],
#ext_menu-2l .dropdown-item[aria-expanded="true"] {
  color: #0180b3!important;
}
#ext_menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2i .navbar-caption {
  color: #ffffff;
}
#ext_menu-2i .navbar-toggler {
  color: #000000;
}
#ext_menu-2i .close-icon::before,
#ext_menu-2i .close-icon::after {
  background-color: #000000;
}
#ext_menu-2i .link,
#ext_menu-2i .dropdown-item {
  color: #000000;
}
#ext_menu-2i .link {
  font-size: 0.9rem;
}
#ext_menu-2i .dropdown-item,
#ext_menu-2i .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2i .link:hover,
#ext_menu-2i .dropdown-item:hover,
#ext_menu-2i .link:focus,
#ext_menu-2i .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-2i .nav-dropdown-sm .link:focus,
#ext_menu-2i .nav-dropdown-sm .link:hover,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-2i .navbar,
#ext_menu-2i .nav-dropdown-sm,
#ext_menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-2i .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2i .bg-color.transparent.opened .link:hover,
#ext_menu-2i .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-item[aria-expanded="true"] {
  color: #0180b3!important;
}
#gallery2-u .mbr-gallery .mbr-gallery-item > a {
  display: block;
}
#gallery2-u .mbr-gallery .mbr-gallery-item > a:hover .icon-video,
#gallery2-u .mbr-gallery .mbr-gallery-item > a:hover .icon-focus {
  opacity: 1;
}
#gallery2-u .mbr-gallery .mbr-gallery-item > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #554346, #45505b) !important;
  background: -moz-linear-gradient(left, #554346, #45505b) !important;
  background: -o-linear-gradient(left, #554346, #45505b) !important;
  background: -ms-linear-gradient(left, #554346, #45505b) !important;
  background: linear-gradient(left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
#gallery2-u .mbr-gallery .mbr-gallery-item:hover > a::before {
  opacity: 0.5;
}
#ext_menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-x .navbar-caption {
  color: #ffffff;
}
#ext_menu-x .navbar-toggler {
  color: #000000;
}
#ext_menu-x .close-icon::before,
#ext_menu-x .close-icon::after {
  background-color: #000000;
}
#ext_menu-x .link,
#ext_menu-x .dropdown-item {
  color: #000000;
}
#ext_menu-x .link {
  font-size: 0.9rem;
}
#ext_menu-x .dropdown-item,
#ext_menu-x .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-x .link:hover,
#ext_menu-x .dropdown-item:hover,
#ext_menu-x .link:focus,
#ext_menu-x .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-x .nav-dropdown-sm .link:focus,
#ext_menu-x .nav-dropdown-sm .link:hover,
#ext_menu-x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-x .navbar,
#ext_menu-x .nav-dropdown-sm,
#ext_menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-x .bg-color.transparent.opened .link:hover,
#ext_menu-x .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-item[aria-expanded="true"] {
  color: #0180b3!important;
}
#extHeader12-p H3 {
  font-size: 20px;
  text-align: left;
}
#extHeader12-p P {
  text-align: left;
}
#ext_menu-g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-g .navbar-caption {
  color: #ffffff;
}
#ext_menu-g .navbar-toggler {
  color: #000000;
}
#ext_menu-g .close-icon::before,
#ext_menu-g .close-icon::after {
  background-color: #000000;
}
#ext_menu-g .link,
#ext_menu-g .dropdown-item {
  color: #000000;
}
#ext_menu-g .link {
  font-size: 0.9rem;
}
#ext_menu-g .dropdown-item,
#ext_menu-g .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-g .link:hover,
#ext_menu-g .dropdown-item:hover,
#ext_menu-g .link:focus,
#ext_menu-g .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-g .nav-dropdown-sm .link:focus,
#ext_menu-g .nav-dropdown-sm .link:hover,
#ext_menu-g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-g .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-g .navbar,
#ext_menu-g .nav-dropdown-sm,
#ext_menu-g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-g .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-g .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-g .bg-color.transparent.opened .link:hover,
#ext_menu-g .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-item[aria-expanded="true"] {
  color: #0180b3!important;
}
#ext_menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2i .navbar-caption {
  color: #ffffff;
}
#ext_menu-2i .navbar-toggler {
  color: #000000;
}
#ext_menu-2i .close-icon::before,
#ext_menu-2i .close-icon::after {
  background-color: #000000;
}
#ext_menu-2i .link,
#ext_menu-2i .dropdown-item {
  color: #000000;
}
#ext_menu-2i .link {
  font-size: 0.9rem;
}
#ext_menu-2i .dropdown-item,
#ext_menu-2i .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2i .link:hover,
#ext_menu-2i .dropdown-item:hover,
#ext_menu-2i .link:focus,
#ext_menu-2i .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-2i .nav-dropdown-sm .link:focus,
#ext_menu-2i .nav-dropdown-sm .link:hover,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-2i .navbar,
#ext_menu-2i .nav-dropdown-sm,
#ext_menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-2i .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2i .bg-color.transparent.opened .link:hover,
#ext_menu-2i .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-item[aria-expanded="true"] {
  color: #0180b3!important;
}
#header3-30 .mbr-section-title,
#header3-30 .mbr-section-subtitle {
  text-align: center;
}
#header3-2w .mbr-section-title,
#header3-2w .mbr-section-subtitle {
  text-align: center;
}
#header3-2w .mbr-section-title {
  font-size: 32px;
}
#ext_menu-2l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2l .navbar-caption {
  color: #ffffff;
}
#ext_menu-2l .navbar-toggler {
  color: #000000;
}
#ext_menu-2l .close-icon::before,
#ext_menu-2l .close-icon::after {
  background-color: #000000;
}
#ext_menu-2l .link,
#ext_menu-2l .dropdown-item {
  color: #000000;
}
#ext_menu-2l .link {
  font-size: 0.9rem;
}
#ext_menu-2l .dropdown-item,
#ext_menu-2l .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2l .link:hover,
#ext_menu-2l .dropdown-item:hover,
#ext_menu-2l .link:focus,
#ext_menu-2l .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-2l .link[aria-expanded="true"],
#ext_menu-2l .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-2l .nav-dropdown-sm .link:focus,
#ext_menu-2l .nav-dropdown-sm .link:hover,
#ext_menu-2l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2l .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-2l .navbar,
#ext_menu-2l .nav-dropdown-sm,
#ext_menu-2l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2l .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-2l .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2l .bg-color.transparent.opened .link:hover,
#ext_menu-2l .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-2l .link[aria-expanded="true"],
#ext_menu-2l .dropdown-item[aria-expanded="true"] {
  color: #0180b3!important;
}
#header3-38 .mbr-section-title,
#header3-38 .mbr-section-subtitle {
  text-align: center;
}
#extFeatures12-3e .mbr-iconfont-features4 {
  color: undefined !important;
}
#extFeatures12-3e .wraper {
  border-color: undefined !important;
}
#extFeatures12-3e .card-number {
  color: #4155d7;
}
#extFeatures12-3e .card-img.iconbox {
  background-color: #4155d7;
  border: #efefef 10px solid;
  border-radius: 500px;
  padding: 1rem;
  width: 110px;
  height: 110px;
}
#extFeatures12-3e .card-img.iconbox > span {
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
}
#extFeatures12-3e .card-text {
  text-align: justify;
}
#extFeatures12-3e .card-btn {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}
#ext_menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-x .navbar-caption {
  color: #ffffff;
}
#ext_menu-x .navbar-toggler {
  color: #000000;
}
#ext_menu-x .close-icon::before,
#ext_menu-x .close-icon::after {
  background-color: #000000;
}
#ext_menu-x .link,
#ext_menu-x .dropdown-item {
  color: #000000;
}
#ext_menu-x .link {
  font-size: 0.9rem;
}
#ext_menu-x .dropdown-item,
#ext_menu-x .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-x .link:hover,
#ext_menu-x .dropdown-item:hover,
#ext_menu-x .link:focus,
#ext_menu-x .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-x .nav-dropdown-sm .link:focus,
#ext_menu-x .nav-dropdown-sm .link:hover,
#ext_menu-x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-x .navbar,
#ext_menu-x .nav-dropdown-sm,
#ext_menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-x .bg-color.transparent.opened .link:hover,
#ext_menu-x .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-item[aria-expanded="true"] {
  color: #4155d7!important;
}
#features6-35 .mbr-iconfont.mbr-iconfont-features3 {
  color: #4155d7;
}
#features4-36 .card-subtitle {
  color: #bcbcbc;
}
#features4-36 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features2-37 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features2-37 .card-text {
  text-align: justify;
}
#features2-37 .mbr-iconfont.mbr-iconfont-features2,
#features2-37 .mbr-iconfont.mbr-iconfont-features3 {
  color: #4155d7;
}
#extFeatures3-39 .mbr-iconfont-features4 {
  color: #4155d7 !important;
}
#extFeatures3-39 .wraper {
  border-color: #4155d7 !important;
}
#extFeatures3-39 P {
  color: #000000;
}
#extFeatures3-39 .card-subtitle {
  color: #000000;
}
#extFeatures3-39 H4 {
  color: #000000;
}
#extFeatures3-39 .card-text {
  text-align: justify;
}
#extFeatures4-3a .mbr-iconfont-features4 {
  color: undefined !important;
}
#extFeatures4-3a .wraper {
  border-color: undefined !important;
}
#extFeatures4-3a .card-text {
  text-align: justify;
}
#extFeatures5-3c .mbr-iconfont-features4 {
  color: #e6e6e6 !important;
}
#extFeatures5-3c .wraper {
  border-color: #e6e6e6 !important;
}
#extFeatures5-3c .card-text {
  text-align: justify;
}
#extFeatures6-3d .card-img {
  background-color: #4155d7 !important;
}
#extFeatures6-3d H4 {
  text-align: left;
}
#extFeatures6-3d .card-subtitle {
  text-align: left;
}
#extFeatures6-3d P {
  text-align: left;
}
#extFeatures6-3d .card-text {
  text-align: justify;
}
#ext_menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-x .navbar-caption {
  color: #ffffff;
}
#ext_menu-x .navbar-toggler {
  color: #000000;
}
#ext_menu-x .close-icon::before,
#ext_menu-x .close-icon::after {
  background-color: #000000;
}
#ext_menu-x .link,
#ext_menu-x .dropdown-item {
  color: #000000;
}
#ext_menu-x .link {
  font-size: 0.9rem;
}
#ext_menu-x .dropdown-item,
#ext_menu-x .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-x .link:hover,
#ext_menu-x .dropdown-item:hover,
#ext_menu-x .link:focus,
#ext_menu-x .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-x .nav-dropdown-sm .link:focus,
#ext_menu-x .nav-dropdown-sm .link:hover,
#ext_menu-x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-x .navbar,
#ext_menu-x .nav-dropdown-sm,
#ext_menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-x .bg-color.transparent.opened .link:hover,
#ext_menu-x .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-item[aria-expanded="true"] {
  color: #4155d7!important;
}
#extTestimonials4-3k .card-block p {
  font-size: 15px;
}
#extTestimonials4-3k .mbr-section-title {
  font-size: 32px;
}
#ext_menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-x .navbar-caption {
  color: #ffffff;
}
#ext_menu-x .navbar-toggler {
  color: #000000;
}
#ext_menu-x .close-icon::before,
#ext_menu-x .close-icon::after {
  background-color: #000000;
}
#ext_menu-x .link,
#ext_menu-x .dropdown-item {
  color: #000000;
}
#ext_menu-x .link {
  font-size: 0.9rem;
}
#ext_menu-x .dropdown-item,
#ext_menu-x .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-x .link:hover,
#ext_menu-x .dropdown-item:hover,
#ext_menu-x .link:focus,
#ext_menu-x .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-x .nav-dropdown-sm .link:focus,
#ext_menu-x .nav-dropdown-sm .link:hover,
#ext_menu-x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-x .navbar,
#ext_menu-x .nav-dropdown-sm,
#ext_menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-x .bg-color.transparent.opened .link:hover,
#ext_menu-x .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-item[aria-expanded="true"] {
  color: #4155d7!important;
}
#ext_menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-x .navbar-caption {
  color: #ffffff;
}
#ext_menu-x .navbar-toggler {
  color: #000000;
}
#ext_menu-x .close-icon::before,
#ext_menu-x .close-icon::after {
  background-color: #000000;
}
#ext_menu-x .link,
#ext_menu-x .dropdown-item {
  color: #000000;
}
#ext_menu-x .link {
  font-size: 0.9rem;
}
#ext_menu-x .dropdown-item,
#ext_menu-x .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-x .link:hover,
#ext_menu-x .dropdown-item:hover,
#ext_menu-x .link:focus,
#ext_menu-x .dropdown-item:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-x .nav-dropdown-sm .link:focus,
#ext_menu-x .nav-dropdown-sm .link:hover,
#ext_menu-x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-x .navbar,
#ext_menu-x .nav-dropdown-sm,
#ext_menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-x .bg-color.transparent.opened .link:hover,
#ext_menu-x .bg-color.transparent.opened .link:focus {
  color: #4155d7;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-item[aria-expanded="true"] {
  color: #4155d7!important;
}
